[submodule "public/enyo"]
	path = public/enyo
	url = https://git@github.com/enyojs/enyo.git
[submodule "public/lib/layout"]
	path = public/lib/layout
	url = https://git@github.com/enyojs/layout.git
[submodule "public/lib/onyx"]
	path = public/lib/onyx
	url = https://git@github.com/enyojs/onyx.git
[submodule "public/lib/gravatar"]
	path = public/lib/gravatar
	url = https://github.com/pcimino/Gravatar.git
[submodule "public/lib/socket.io"]
	path = public/lib/socket.io
	url = https://github.com/LearnBoost/socket.io.git
