
[submodule "enyo"]
	path = enyo
	url = https://git@github.com/enyojs/enyo.git
[submodule "lib/layout"]
	path = lib/layout
	url = https://git@github.com/enyojs/layout.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = https://git@github.com/enyojs/onyx.git
[submodule "lib/gravatar"]
	path = lib/gravatar
	url = https://github.com/pcimino/Gravatar.git
