
[submodule "enyo"]
	path = enyo
	url = https://git@github.com/enyojs/enyo.git
[submodule "lib/layout"]
	path = lib/layout
	url = https://git@github.com/enyojs/layout.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = https://git@github.com/enyojs/onyx.git
[submodule "lib/gravatar"]
	path = lib/gravatar
	url = https://github.com/pcimino/Gravatar.git
[submodule "lib/captcha"]
	path = lib/captcha
	url = https://github.com/pcimino/EnyoCaptcha.git
[submodule "lib/canvas"]
	path = lib/canvas
	url = https://github.com/enyojs/canvas
