/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px !important;
}
.center
{
margin-left:auto;
margin-right:auto;
width:50%;
}
.reverse-text {
  background: gray;
  font-family:arial;
  color: white;
  font-weight:bold;
}

.page-left-justified {
  margin-left:10%;
}
.form-field-left-margin {
  margin-top: 15px;
  margin-left:40%;
}
.form-field-margin {
	margin-top: 15px;
  margin-left:20px;
}
.form-label-margin {
	margin-right: 10px !important;
  margin-top: 15px;
}
.form-input-box {
	box-shadow: -6px 0px 6px lightblue;
	-moz-box-shadow: -6px 0px 6px lightblue;
	-webkit-box-shadow: -6px 0px 6px lightblue;
  border: 0.2em solid lightblue;
}
.form-input-error-box {
	box-shadow: -6px 0px 6px red;
	-moz-box-shadow: -6px 0px 6px red;
	-webkit-box-shadow: -6px 0px 6px red;
  border: 0.2em solid red;
}
.form-input-confirm-box {
	box-shadow: -6px 0px 6px green;
	-moz-box-shadow: -6px 0px 6px green;
	-webkit-box-shadow: -6px 0px 6px green;
  border: 0.2em solid green;
}
.body-margin {
	margin-top: 15% !important;
}
.body-height {
  height:85%;
}
.container-height {
  height:85%;
}
.href-link {
	color:blue;
  text-decoration:underline;
}
.text-input-error-box {
	box-shadow: -6px 0px 6px red;
	-moz-box-shadow: -6px 0px 6px red;
	-webkit-box-shadow: -6px 0px 6px red;
  border: 0.2em solid red;
}
.text-input-confirm-box {
	box-shadow: -6px 0px 6px green;
	-moz-box-shadow: -6px 0px 6px green;
	-webkit-box-shadow: -6px 0px 6px green;
  border: 0.2em solid green;
}
.clock-box {
	  border: 2px solid gray;
    margin: 12px 12px 12px 12px;
    padding: 12px 0px 12px 12px;
    background: gray;
  margin-left:15%;
  margin-right:15%;
  font-family:arial;
  color: white;
  font-size:80px;
  font-weight:bold;
  text-align:center;
}
.clock-background {
	  border: 2px solid black;
    margin: 12px 12px 12px 12px;
    padding: 12px 0px 12px 12px;
    background: black;
    margin-left:30%;
    margin-right:30%;
}

.header-width {
  margin-top: 5px;
  width:100%;
}
.header-left {
  margin-left: 5px;
  width:75px;
}
.header-center {
  margin-left: 5px;
  margin-right: 5px;
}
.header-right {
  width:75px;
}
.header-height  {
  height:75px;
}

.button-float-right
{
  float:right;
  margin-right: 5px;
  margin-top:0px !important;
}

.button-link
{
  text-decoration: none !important;
}

.info-text {
	font-size: 12px;
}

.footer-width {
  width:100%;
}
.footer-left {
  margin-left: 5px;
  width:175px;
}
.footer-center {
  margin-left: 5px;
  margin-right: 5px;
}
.footer-right {
  width:175px;
}
.footer-height  {
  height:60px;
}

.footer-box {
	border: 2px solid lightblue;
	padding: 4px;
}
.footer-mtb {
  padding: 15px;
	margin-top: 0px;
	margin-bottom: 3px;
}
.footer-mlr {
	margin-left: 6px;
	margin-right: 6px;
}

.list-item-margin {
  margin-left:10px;
}

.bold-text {
  font-weight:bold;
}










