/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px !important;
}

.form-field-left-margin {
  margin-top: 15px;
  margin-left:40%;
}
.form-field-margin {
	margin-top: 15px;
  margin-left:20px;
}
.form-label-margin {
	margin-right: 10px !important;
  margin-top: 15px;
}
.form-input-box {
	box-shadow: -6px 0px 6px lightblue;
	-moz-box-shadow: -6px 0px 6px lightblue;
	-webkit-box-shadow: -6px 0px 6px lightblue;
  border: 0.2em solid lightblue;
}
.form-input-error-box {
	box-shadow: -6px 0px 6px red;
	-moz-box-shadow: -6px 0px 6px red;
	-webkit-box-shadow: -6px 0px 6px red;
  border: 0.2em solid red;
}
.form-input-confirm-box {
	box-shadow: -6px 0px 6px green;
	-moz-box-shadow: -6px 0px 6px green;
	-webkit-box-shadow: -6px 0px 6px green;
  border: 0.2em solid green;
}
.body-margin {
	margin-top: 15% !important;
}
.body-height {
  height:85%;
}
.container-height {
  height:85%;
}
.href-link {
	color:blue;
  text-decoration:underline;
}
.text-input-error-box {
	box-shadow: -6px 0px 6px red;
	-moz-box-shadow: -6px 0px 6px red;
	-webkit-box-shadow: -6px 0px 6px red;
  border: 0.2em solid red;
}
.text-input-confirm-box {
	box-shadow: -6px 0px 6px green;
	-moz-box-shadow: -6px 0px 6px green;
	-webkit-box-shadow: -6px 0px 6px green;
  border: 0.2em solid green;
}
.clock-box {
	  border: 2px solid gray;
    margin: 12px 12px 12px 12px;
    padding: 12px 0px 12px 12px;
    background: gray;
  margin-left:15%;
  margin-right:15%;
  font-family:arial;
  color: white;
  font-size:80px;
  font-weight:bold;
  text-align:center;
}
.clock-background {
	  border: 2px solid black;
    margin: 12px 12px 12px 12px;
    padding: 12px 0px 12px 12px;
    background: black;
    margin-left:30%;
    margin-right:30%;
}

.header-width {
  margin-top: 5px;
  width:100%;
}
.header-left {
  margin-left: 5px;
  width:75px;
}
.header-center {
  margin-left: 5px;
  margin-right: 5px;
}
.header-right {
  width:75px;
}
.header-height  {
  height:75px;
}

.footer-width {
  width:100%;
}
.footer-left {
  margin-left: 5px;
  width:175px;
}
.footer-center {
  margin-left: 5px;
  margin-right: 5px;
}
.footer-right {
  width:175px;
}
.footer-height  {
  height:50px;
}

.button-float-right
{
  float:right;
}

.button-link
{
  text-decoration: none !important;
}





.fittable-sample-box {
	border: 2px solid lightblue;
	padding: 4px;
}
.fittable-sample-b {
	background-color: #F1FFF1;
}
.fittable-sample-mtb {
	margin-top: 3px;
	margin-bottom: 3px;
}
.fittable-sample-mlr {
	margin-left: 6px;
	margin-right: 6px;
}
.fittable-sample-o {
	border-color: orange;
}
.fittable-sample-height {
	height: 140px;
}

.fittable-sample-fitting-color {
	background: #B7BFC4;
}

.fittable-sample-shadow {
	box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: -6px 0px 6px rgba(0,0,0,0.3);
}

.fittable-sample-shadow2 {
	box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}

.fittable-sample-shadow3 {
	box-shadow: 0 -6px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 -6px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 -6px 6px rgba(0,0,0,0.3);
}

.fittable-sample-shadow4 {
	box-shadow: 6px 0px 6px rgba(0,0,0,0.3);
	-moz-box-shadow: 6px 0px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 6px 0px 6px rgba(0,0,0,0.3);
}

.fittable-sample-boxable {
	margin: 0.5em;
	padding: 1em;
	border: 0.2em solid beige;
}

.fittable-sample-boxable > * {
	border: 0.1em dotted orange;
	padding: 0.5em;
}

.fittable-sample-test {
	border-width: 0.2em;
	border-color: red;
}

.fittable-sample-small-test {
	border-width: 0.2em;
	border-color: red;
	height: 150px;
}

.fittable-sample-section {
	padding: 30px 10px 10px;
	font-weight: bold;
}
.onyx-sample {
	padding: 10px;
}
.onyx-sample-tools {
	padding-bottom:10px;
}
.onyx-sample-tools > * {
	margin: 3px;
}
.onyx-sample-divider {
	color: #F49200;
	text-transform: uppercase;
	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.onyx-sample-result-box {
	width:100%;
}
.onyx-sample-result {
	padding:8px;
}
.onyx-sample-spaced-button {
	margin:3px;
}
.onyx-sample-animate-label {
	vertical-align:middle;
	padding-left:5px;
	margin-right: 15px;
}
.onyx-sample-label {
	color: #1879CD;
	font-size: 18px;
	text-transform: uppercase;
}
.onyx-sample-popup {
	font-size: 30px;
	text-align: center;
}
.onyx-contextualpopup-button-container{
	padding:10px;
}





